img {
    width: 237px;
    height: 229px;
}
body{
    background-color: antiquewhite;
}
h1 {
    color: steelblue;
}
section {
    background-color: lightblue;
}
h2 {
    color: steelblue;
}
footer {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    color: steelblue;
}